<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="co.staruml.ui.perspectives.StarUMLPerspective"
            fixed="true"
            icon="icons/16.gif"
            id="co.staruml.ui.perspectives.StarUMLPerspective"
            name="StarUMLPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="co.staruml.ui.perspectives.StarUMLPerspective">
         <view
               closeable="false"
               id="org.eclipse.ui.navigator.ProjectExplorer"
               minimized="false"
               moveable="false"
               ratio="0.25f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               moveable="false"
               ratio="0.80f"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="staruml.ui.category1"
            class="co.staruml.ui.wizard.Project"
            finalPerspective="co.staruml.ui.perspectives.StarUMLPerspective"
            icon="icons/16.gif"
            id="co.staruml.ui.wizard.project"
            name="StarUML Project"
            project="true">
      </wizard>
      <wizard
            category="staruml.ui.category1"
            class="co.staruml.ui.wizard.file.ClassDiagramWizard"
            finalPerspective="co.staruml.ui.perspectives.StarUMLPerspective"
            icon="icons/16.gif"
            id="co.staruml.ui.wizard.file.ClassDiagramWizard"
            name="Class Diagram"
            project="true">
      </wizard>
      <category
            id="staruml.ui.category1"
            name="StarUML">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="staruml.ui.category1"
            type="new"
            wizardId="co.staruml.ui.wizard.project">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="staruml.ui.category1"
            type="new"
            wizardId="co.staruml.ui.wizard.file.ClassDiagramWizard">
         <enablement></enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="co.staruml.ui.editors.UMLEditor"
            contributorClass="co.staruml.ui.editors.UMLEditorContributor"
            extensions="uml"
            icon="icons/sample.gif"
            id="co.staruml.ui.editors.UMLEditor"
            name="Star UML Editor">
      </editor>
   </extension>

</plugin>
