<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.staruml.perspectives.StarUMLPerspective"
            fixed="true"
            icon="icons/16.gif"
            id="org.staruml.perspectives.StarUMLPerspective"
            name="StarUML">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.staruml.perspectives.StarUMLPerspective">
         <view
               closeable="false"
               id="org.eclipse.jdt.ui.PackageExplorer"
               minimized="false"
               moveable="true"
               ratio="0.25f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="org.staruml.views.StarUMLView"
               minimized="false"
               moveable="true"
               ratio="0.7f"
               relationship="stack"
               relative="org.eclipse.jdt.ui.PackageExplorer"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="org.eclipse.ui.views.PropertySheet"
               minimized="false"
               moveable="false"
               ratio="0.75f"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
         <view
               closeable="false"
               id="org.staruml.views.StarUMLRequestView"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet"
               showTitle="true"
               standalone="false"
               visible="false">
         </view>
         <view
               closeable="false"
               id="org.staruml.views.StarPMSRequestTableView"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="org.staruml.views.StarPMSBrowersView"
               minimized="false"
               moveable="false"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="StarUML Category"
            id="org.StarUML">
      </category>
      <view
            name="StarPMS View"
            icon="icons/sample.gif"
            category="org.StarUML"
            class="org.staruml.views.StarPMSView"
            id="org.staruml.views.StarUMLView">
      </view>
      <view
            category="org.StarUML"
            class="org.staruml.views.StarUMLRequestView"
            icon="icons/sample.gif"
            id="org.staruml.views.StarUMLRequestView"
            name="StarUML Request View">
      </view>
      <view
            category="org.StarUML"
            class="org.staruml.views.StarPMSRequestTableView"
            icon="icons/sample.gif"
            id="org.staruml.views.StarPMSRequestTableView"
            name="StarPMS Request Table View">
      </view>
      <view
            category="org.StarUML"
            class="org.staruml.views.StarPMSBrowersView"
            icon="icons/sample.gif"
            id="org.staruml.views.StarPMSBrowersView"
            name="StarPMS Browser View">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.StarUML.wizard"
            name="StarUML">
      </category>
      <wizard
            class="org.staruml.wizard.Project"
            finalPerspective="org.staruml.perspectives.StarUMLPerspective"
            icon="icons/16.gif"
            id="org.StarUML.wizard.project"
            name="StarUML Project"
            project="true">
      </wizard>
      <primaryWizard
            id="org.StarUML.wizard.project">
      </primaryWizard>
      <wizard
            class="org.staruml.wizard.clazz.SorceCodeGeneration"
            finalPerspective="org.staruml.perspectives.StarUMLPerspective"
            icon="icons/16.gif"
            id="org.StarUML.wizard.clazz.sorceCodeGeneration"
            name="Source Code Generation Wizard"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="org,.StarUML.wizard"
            type="new"
            wizardId="org,.StarUML.wizard.project">
         <enablement></enablement>
      </commonWizard>
   </extension>

</plugin>
