<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="enkisoft.sobis.staruml.ui.StarUMLMain">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="enkisoft.sobis.staruml.ui.Perspective"
            id="enkisoft.sobis.staruml.ui.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="enkisoft.sobis.staruml.ui.perspective">
         <view
               closeable="false"
               id="org.eclipse.ui.navigator.ProjectExplorer"
               minimized="false"
               moveable="false"
               ratio="0.55f"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="false"
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               moveable="false"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.sobis.staruml"
            class="enkisoft.sobis.staruml.ui.wizard.Project"
            finalPerspective="enkisoft.sobis.staruml.ui.perspective"
            icon="icons/16.gif"
            id="enkisoft.sobis.staruml.ui.wizard.project"
            name="StarUML Project"
            project="true">
      </wizard>
      <wizard
            category="enkisoft.sobis.staruml"
            class="enkisoft.sobis.staruml.ui.wizard.file.ClassDiagramWizard"
            icon="icons/16.gif"
            id="enkisoft.sobis.staruml.ui.wizard.file.classdiagramwizard"
            name="Class Diagram"
            project="true">
      </wizard>
      <category
            id="enkisoft.sobis.staruml"
            name="StarUML">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonWizard
            menuGroupId="enkisoft.sobis.staruml"
            type="new"
            wizardId="enkisoft.sobis.staruml.ui.wizard.project">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            menuGroupId="enkisoft.sobis.staruml"
            type="new"
            wizardId="enkisoft.sobis.staruml.ui.wizard.file.classdiagramwizard">
         <enablement></enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="enkisoft.sobis.staruml.ui.editors.UMLEditor"
            contributorClass="enkisoft.sobis.staruml.ui.editors.MultiPageEditorContributor2"
            extensions="uml"
            icon="icons/sample.gif"
            id="enkisoft.sobis.staruml.ui.editors.UMLEditor"
            name="Star UML Editor">
      </editor>
   </extension>

</plugin>
